{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FriendShip</title>
        <meta name="description" content="FriendShip Social Network">
        <meta name="keyword" content="FriendShip, Social, Network, Log in">
        <meta name="author" content="sina_deadwood">
        <link rel="stylesheet" type="text/css" href="{%static "/static/style.css"%}">
        <style>
            <!-- empty -->
        </style>
    </head>
    
    <body>
    <h1> FriendShip </h1>
        <div class="form">
        <h2> Sign In </h2>
        <div class="line"> </div>
	{%if error %}
		<h3 style="color:red;">{{error}}</h3>
	{% endif %}

        <form class="input-form" action="/profile/" method="post">{% csrf_token %}
            <input type="text" name="user_email" required placeholder="Email">
            <input type="password" name="password" required placeholder="Password">
            <input type="submit" class="sign" value="Sign In">
            <p> Don't have an account? 
            <a href="/signup/"> Sign up now</a> </p>
        </form>
        </div>
    </body>
    
</html>
